.main-content {
  height: ~"calc(100% - 110px)";
}

.home__container {
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;

  &-map {
    width: 60%;
    height: 100%;
    border-right: 2px solid rgba(34, 36, 38, 0.15);
  }

  &-details {
    position: relative;
    width: 40%;
    height: 100%;
  }

  &-actions {
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  }

  &-title {
    width: 100%;
    padding: 0 0 12px 0;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
  }

  &-buttons {
    display: flex;
    justify-content: center;
  }

  &-dashboard {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px 35px;
    overflow: auto;

    .hide {
      display: none;
      overflow: hidden;
    }

    .main-title {
      font-size: 30px;
      display: block;
      margin: 10px auto;
      width: 100%;
      color: #fff;
      background: hsl(24, 88%, 53%);
      line-height: 2;
      text-align: center;
      border-radius: 10px;
      line-height: 1.2;
      padding: 20px;
      &:hover {
        cursor: pointer;
        background: hsl(24, 77%, 41%);
      }

      .plus.icon.special {
        border: 1px solid #fff;
        border-radius: 5px;
        width: 40px;
        height: 100%;
      }
    }

    .user__container-events {
      border: 1px dashed #adaaaa;
      border-bottom: 0px solid red;
      padding-top: 10px;
      padding-bottom: 30px;
      border-radius: 10px 10px 0 0;
      margin-bottom: -5px;
      height: 70px;
      overflow: auto;

      &:hover {
        cursor: pointer;
        border: 1px dashed #b91b1b;
        border-bottom: 0px solid red;
        background: #f1f1f1;
      }

      label {
        position: relative;
        top: 0;
        padding: 0 10px;
        left: 15px;
        font-size: 30px;
        z-index: 999;
        color: #f2711c;
        margin-bottom: 40px;
        display: inline-block;
      }

      &.show {
        height: auto;
      }
    }

    .location-label {
      display: flex;
      font-size: 1.1rem;
      font-weight: 300;
      margin-bottom: 10px;
    }

    .location-field {
      .input {
        width: 100%;
      }
      .prompt {
        border-radius: 0.28571429rem;
      }
    }

    .selected-location {
      padding-top: 20px;
    }

    .event_info {
      margin-top: 30px;
      display: flex;
      flex-direction: row;

      .event-name-label {
        display: flex;
        font-size: 1.1rem;
        font-weight: 300;
        margin-bottom: 10px;
      }

      .event-organizer-label {
        display: flex;
        font-size: 1.1rem;
        font-weight: 300;
        margin-bottom: 10px;
      }

      &-title {
        width: 50%;
        padding-right: 5px;
        .input {
          width: 100%;
        }
      }

      &-organizer {
        width: 50%;
        padding-left: 5px;
        .input {
          width: 100%;
        }
      }
    }

    .event_date {
      .date-label {
        display: flex;
        margin-top: 30px;
        font-size: 1.1rem;
        font-weight: 300;
        margin-bottom: 10px;
      }

      .datetime-trigger {
        display: inline-block;
      }
    }

    .description-label {
      display: flex;
      margin-top: 30px;
      font-size: 1.1rem;
      font-weight: 300;
      margin-bottom: 10px;
    }
    .description-field {
      max-height: 120px;
    }

    .category-label {
      display: flex;
      margin-top: 30px;
      font-size: 1.1rem;
      font-weight: 300;
      margin-bottom: 10px;
    }

    .category-select {
      width: 100%;
    }

    .event-actions {
      margin-top: 30px;
      display: flex;
      justify-content: center;
    }

    .event_item-container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      border-bottom: solid 1px #c1bfbf;
      cursor: pointer;
      padding-top: 20px;
      padding-bottom: 10px;
      &:hover {
        background-color: #ebebeb;
      }
    }

    .active {
      background-color: #ebebeb;
    }

    .event_item-date {
      &-container {
        padding-left: 25px;
      }

      &-day {
        padding-top: 5px;
        font-size: 30px;
        font-weight: 600;
        color: #868484;
      }
      &-month {
        font-size: 14px;
        font-weight: 350;
        color: #868484;
      }
    }

    .event_item-info {
      &-container {
        width: 100%;
        padding-left: 35px;
      }
      &-title {
        font-size: 1.3rem;
        font-weight: 300;
      }
      &-date {
        padding-top: 5px;
        font-size: 14px;
      }
      &-location {
        font-size: 14px;
      }
      &-description {
        padding-top: 8px;
        display: flex;
        align-items: flex-start;

        &-label {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-size: 14px;

          padding-right: 10px;

          span {
            font-weight: 600;
          }
        }
      }

      &-organizer {
        display: flex;
        align-items: flex-start;

        &-label {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-size: 14px;

          padding-right: 10px;

          span {
            font-weight: 600;
          }
        }
      }

      &-category {
        padding-bottom: 5px;
        display: flex;
        align-items: flex-start;

        &-label {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-size: 14px;

          padding-right: 10px;

          span {
            font-weight: 600;
          }
        }
      }
    }

    .event_item-action {
      &-container {
        align-self: center;
        padding-right: 10px;

        .ui.button {
          &:hover {
            color: #ffffff !important;
            background-color: #f2711c !important;
          }
          &.joined {
            color: #fff;
            background: rgba(25, 182, 46, 0.904);
          }
          &.join {
            color: #fff;
            background: rgba(216, 130, 18, 0.904);
          }
        }
      }
    }
  }
}
